/* TODO: fix text scaling */

#welcomeBegin {
	top: 25%;
	left:30%;
	right: 30%;
	width: 40%;
	position: fixed;
	font-size: 24px;

}

#welcomeHelp {
	top: 50%;
	left:30%;
	right: 30%;
	width: 40%;
	position: fixed;
	font-size: 24px;
}

#welcomeOne{
	position: relative;
	top:0%;
	text-align: center;
	font-size: 35px;
}

/* top bar for menu navigation */
#menu_port {
	position: fixed;
	top:0%;
	background-color: Linen;
	left:0%;
	width:100%;
	height:7%;
	border:1px solid #000;
	z-index: 3;
}

#menu_buttons button {
	top:1%;
	position: relative;
	height:100%;
	width: 100%;
}
/* change size of text "MENU_PORT" && "NAVIGATION" depending on screen size */
/* this is just broad for now */
@media only screen and (max-width: 550px){ #menu_buttons button, #navigation button { font-size: 90%;}}
@media only screen and (max-width: 400px){ #menu_buttons button, #navigation button { font-size: 80%;}}
@media only screen and (max-width: 360px){ #menu_buttons button, #navigation button { font-size: 65%;}}
@media only screen and (max-width: 300px){ #menu_buttons button, #navigation button { font-size: 50%;}}
@media only screen and (max-width: 250px){ #menu_buttons button, #navigation button { font-size: 30%;}}
@media only screen and (max-width: 200px){ #menu_buttons button, #navigation button { font-size: 20%;}}
@media only screen and (max-width: 150px){ #menu_buttons button, #navigation button { font-size: 10%;}}
/* center container element: everything happens inside */
#center_container {
	position: fixed;
	top: 8%;
	left: 1%;
	right: 1%;
	bottom: 26%;
}

#menu_screen {
	position: relative;
	overflow: scroll;
	border: 1px solid #000;
	width: 100%;
	height: 100%;
}

#menu_screen p{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/* bottom bar for navigation*/
#nav_port {
	position: fixed;
	top:75%;
	background-color: Linen;
	left:0%;
	width:100%;
	height:25%;
	border:1px solid #000;
	z-index: 3;
}

#navigation button{
	position: fixed;
	height:9%;
	width: 33%;
}

#orders_screen {
	position: relative;
	overflow: scroll;
	border: 1px solid #000;
	width: 100%;
	height: 100%;
}

#expand_screen {
	position: relative;
	overflow: scroll;
	border: 1px solid #000;
	width: 100%;
	height: 100%;
}

#expand_screen p{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

button {
	background-color:DarkSlateGray;
	border-color:Black;
	color:white;
	font-family: Impact, Charcoal, sans-serif;
}



#screen {
	position:fixed;
	left: 0%;
	top: 0%;
	height: 100%;
	width:100%;
	border:1px solid #000;
}

#menu_buttons button {
	top:1%;
	position: fixed;
	height:5%;
	width: 20%;
}
	
#appetizer_button {
	left:4%;
	font-size: 20px;	
}

#drinks_button { 
	left:28%;
	font-size: 20px;
}

#entree_button { 
	left:52%;
	font-size: 20px;
}

#dessert_button { 
	left:76%;
	font-size: 20px;
}

#menu {
	top:77%;
	left:4%;
	font-size: 24px;
}

#help {
	top:89%;
	left:4%;
	font-size: 20px;
}

#order {
	top:77%;
	left:41%;
	font-size: 22px;
}

#bills {
	top:89%;
	left:41%;
	font-size: 24px;
}

#mag_glass {
    position: fixed;
    bottom: 1%;
    right:2%;
    height:20%;
    width:20%;
    max-width:150px;
}

.appetizers {
	position: relative;
	left:4%;
	border:1px solid #000;
	height:150px;
	width:92%;
}

.drinks {
	position: relative;
	left:4%;
	border:1px solid #000;
	height:150px;
	width:92%;
}

.entree {
	position: relative;
	left:4%;
	border:1px solid #000;
	height:150px;
	width:92%;
}

.dessert {
	position: relative;
	left:4%;
	border:1px solid #000;
	height:150px;
	width:92%;
}

.food_img {
	position: absolute;
	top: 12.5px;
	left: 3%;
	height:125px;
	width:175px;
	border:1px solid #000;
}

h3 {
	margin-top: 0;
	position: absolute;	
	top:10px;
	left:230px;
	text-align: left;
}


.food_desc {
	position: absolute;	
	top:40px;
	left:230px;
	text-align: left;
}

.food_price {
	margin-top: 0;
	position: absolute;	
	top:10px;
	right:2%;
	text-align: right;
	font-size: 20px;
}

.stars {
	height:25px;
	width:110px;
	position:absolute;
	left:225px;
	top:30px;
}

#back {
	position: absolute;
	top: 3%;
	left: 3%;
	height: 10%;
	width: 30%;
	font-size: 25px;
}

#add_order {
	position: absolute;
	bottom: 5%;
	right: 5%;
	height: 10%;
	width: 30%;
	font-size: 28px;
}


#qtySelect {
	position: absolute;
	bottom: 35%;
	right: 25%;
	height: 5%;
	width: 10%;
	font-size: 20px;
}

#qtySelectMsg {
	position: absolute;
	bottom: 35%;
	right: 15%;
	height: 5%;
	width: 20%;
	font-size: 20px;
}

#orderSelect {
	position: absolute;
	bottom: 35%;
	right: 5%;
	height: 5%;
	width: 10%;
	font-size: 20px;
}

#orderSelectMsg {
	position: absolute;
	bottom: 35%;
	right: -5%;
	height: 5%;
	width: 20%;
	font-size: 20px;
}

.food_img_e {
	position: absolute;
	top: 16%;
	left: 3%;
	height:185px;
	width:245px;
	border:1px solid #000;
}

h2 {
	margin-top: 0;
	position: absolute;	
	top:16%;
	left:305px;
	text-align: left;
}

.food_desc_e {
	position: absolute;	
	top:26%;
	left:305px;
	text-align: left;
	font-size: 18px;
}

.food_price_e {
	margin-top: 0;
	position: absolute;	
	top:16%;
	right:3%;
	text-align: right;
	font-size: 24px;
}

.food_contain {
	position: absolute;
	top: 265px;
	left: 3%;
	font-size: 20px;
}

.stars_e {
	height:40px;
	width:175px;
	position:absolute;
	top:21%;
	left:295px;
}

.warning {
	position: absolute;
	top: 285px;
	left: 3%;
	width: 30%;
	font-size: 20px;
}

.ordered {
	right:2%;
	top:100px;
	position: absolute;
	font-style: italic;
	font-size: 22px;
}


.order_window {
	position: absolute;
	border:1px solid #000;
	height:300px;
	width:40%;
	background-color: Ivory;
	overflow: scroll;
}

.order_window h5{
	position: absolute;
	margin-top: 0;
	top: 5px;
	left: 45%;
	font-size: 16px;
}

#order_one {
	top: 15px;
	left: 5%;
}

#order_two {
	top: 15px;
	right: 5%;
}

#order_three {
	top: 330px;
	left: 5%;
}

#order_four {
	top: 330px;
	right: 5%;
}

.new_order_button {
	position: absolute;
	font-size:18px;
	height:75px;
	width: 75px;
	font-size:60px;
}


#new_order_two {
	top:90px;
	right: 20%;
}

#new_order_three {
	top:385px;
	left: 20%;
}
#new_order_four {
	top:385px;
	right: 20%;
}

#submit_order {
	position:absolute;
	height:10%;
	width:30%;
	font-size:22px;
	margin-top: 10px;
	margin-bottom: 10px;
	right:0;
}

.confirm_window {
	background-color: Linen;
	border:1px solid #000;
	position:fixed;
	height:175px;
	width:80%;
	left:10%;
	top:25%;
}

.confirm_button {
	height:50px;
	width: 35%;
	font-size:22px;
}

#order_c_no {
	position: absolute;
	left: 10%;
	top: 110px;
}

#order_c_yes {
	position: absolute;
	right: 10%;
	top: 110px;
}

#warning_ret {
	position: absolute;
	right: 35%;
	top: 110px;
}

#order_warning p {
	position: absolute;
	right:43%;
	margin-top:0px;
	top:30px;
	font-size:28px;
}

#not_imp_ret {
	position: absolute;
	right: 35%;
	top: 110px;
}

#not_implemented p {
	position: absolute;
	left:30%;
	margin-top:0px;
	top:30px;
	font-size:28px;
}

#order_confirm p {
	position: absolute;
	left:41%;
	margin-top:0px;
	top:30px;
	font-size:28px;
}

#submitted_p {
	text-align: center;
	position:absolute;
	left:38%;
	margin-top:0px;
	top:35%;
	font-size:30px;
	margin-left: auto;
    margin-right: auto;
}

#wait_order_p{
	text-align: center;
	position:absolute;
	left:40%;
	margin-top:0px;
	top:40%;
	font-size:30px;
	margin-left: auto;
    margin-right: auto;
	
}

#fried_calamari{
	top:50px;
}

#crisper{
	top:60px;
}

#bacon_shrimp{
	top:70px;
}

#invis_drink{
	top:50px;
}

#wine{
	top:60px;
}

#steak{
	top:50px;
}

#fish_chips{
	top:60px;
}

#lemon_pie{
	top:50px;
}

#shortcake{
	top:60px;
}

/* Order screen items */

.order_list.h5{
    text-align: center;
}

.order_list{
    position: relative;
    top: 20px;
}

.order_item{
    margin-top: 15px;
    padding-left: 15px;
    font: 12px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    text-align: left;
}

.delete_order_item{
    height: 16px;
    width: 30px;
    display: block;
    float: right;
    margin-right: 20px;
    margin-left: 30px;
}

ul.order_list {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}

ul.order_list li:before 
{
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}

ul.order_list span:first-child {
    padding-right: 0.33em;
}

ul.order_list span + span 
{
    float: right;
    padding-left: 0.33em;
}

.bill{
    margin: 10px;
    height: 300px;
    width: 300px;
    border: 2px black solid;
}

h5{
    text-align: center;
}


/* Bills screen items */

#bills_screen{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.bill_item{
    padding-left: 15px;
}