/* TODO: fix text scaling */

#welcomeBegin {
    position: absolute;
    top: calc(40% + 10px);
    left: calc(50% - 200px);
    height: 40px;
    width: 400px;
    font-size: 24px;
}

#welcomeHelp {
    position: absolute;
    top: calc(40% + 60px);
    left: calc(50% - 200px);
    height: 40px;
    width: 400px;
    font-size: 24px;
}

#welcomeOne{
    position: absolute;
    left: calc(50% - 80px);
    top: calc(40% - 80px);
    text-align: center;
    font-size: 35px;
    font-family: Georgia, Palatino;
    font-style: italic;
}

/* top bar for menu navigation */
#menu_port {
    position: fixed;
    top:0%;
    background-color: Linen;
    left:0%;
    width:100%;
    height: 60px;
    z-index: 3;
}

#center_container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 130px;
}

#menu_screen {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#menu_screen p{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/* bottom bar for navigation*/
#nav_port {
    position: fixed;
    bottom: 0;
    background-color: Linen;
    left:0%;
    width:100%;
    height:130px;
    z-index: 3;
}

#navigation button{
    font-size: 20px;
    position: fixed;
    height:50px;
    width: 200px;
}

#orders_screen {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#expand_screen {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#expand_screen p{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

button {
    height: 40px;
    background-color:DarkSlateGray;
    color:white;
    font-family: Charcoal, sans-serif;
}



#screen {
    position:fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width:100%;
}

#menu_buttons button {
    font-size: 20px;
    top:10px;
    width: 20%;
    position: fixed;
}

#appetizer_button {
    left:4%;	
}

#drinks_button { 
    left:28%;
    font-size: 20px;
}

#entree_button { 
    left:52%;
    font-size: 20px;
}

#dessert_button { 
    left:76%;
    font-size: 20px;
}

#menu {
    bottom: 70px;
    left: calc(50% - 255px);
    font-size: 24px;
}

#help {
    bottom: 10px;
    height: 50px;
    left: calc(50% - 255px);
    font-size: 20px;
}

#order {
    bottom: 70px;
    left: calc(50% - 45px);
    font-size: 22px;
}

#bills {
    bottom: 10px;
    left: calc(50% - 45px);
    font-size: 24px;
}

#mag_glass {
    position: fixed;
    bottom: 20px;
    left: calc(50% + 165px);
    height: 90px;
    width:90px;
    border: 2pt solid;
    border-top: grey;
    border-left:grey;
}

.appetizers {
    position: relative;
    left:4%;
    height:150px;
    width:92%;
}

.drinks {
    position: relative;
    left:4%;
    height:150px;
    width:92%;
}

.entree {
    position: relative;
    left:4%;
    height:150px;
    width:92%;
}

.dessert {
    position: relative;
    left:4%;
    height:150px;
    width:92%;
}

.food_img {
    position: absolute;
    top: 12.5px;
    left: 3%;
    height:125px;
    width:175px;
}

h3 {
    margin-top: 0;
    position: absolute;	
    top:10px;
    left:230px;
    text-align: left;
}


.food_desc {
    position: absolute;	
    top:40px;
    left:230px;
    text-align: left;
}

.food_price {
    margin-top: 0;
    position: absolute;	
    top:10px;
    right:2%;
    text-align: right;
    font-size: 20px;
}

.stars {
    height:25px;
    width:110px;
    position:absolute;
    left:225px;
    top:30px;
}

#back {
    position: absolute;
    top: 3%;
    left: 3%;
    height: 10%;
    width: 30%;
    font-size: 25px;
}

#add_order {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 10%;
    width: 30%;
    font-size: 25px;
}

#qtySelect {
    position: absolute;
    bottom: 35%;
    right: 200px;
    height: 5%;
    width: 60px;
    font-size: 20px;
}

#qtySelectMsg {
    position: absolute;
    bottom: calc(35% + 10px);
    right: 50px;
    height: 5%;
    width: 300px;
    font-size: 20px;
}

#orderSelect {
    position: absolute;
    bottom: 35%;
    right: 5px;
    height: 5%;
    width: 150px;
    font-size: 20px;
}

#orderSelectMsg {
    position: absolute;
    bottom: calc(35% + 10px);
    right: 5px;
    height: 5%;
    width: 120px;
    font-size: 20px;
}

.food_img_e {
    position: absolute;
    top: 16%;
    left: 3%;
    height:185px;
    width:245px;
}

h2 {
    margin-top: 0;
    position: absolute;	
    top:16%;
    left:305px;
    text-align: left;
}

.food_desc_e {
    position: absolute;	
    top:26%;
    left:305px;
    text-align: left;
    font-size: 18px;
}

.food_price_e {
    margin-top: 0;
    position: absolute;	
    top:16%;
    right:3%;
    text-align: right;
    font-size: 24px;
}

.food_contain {
    position: absolute;
    top: 265px;
    left: 3%;
    width: calc(100% - 400px);
    font-size: 20px;
}

.stars_e {
    height:40px;
    width:175px;
    position:absolute;
    top:21%;
    left:295px;
}

.warning {
    position: absolute;
    top: 285px;
    left: 3%;
    width: 30%;
    font-size: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.ordered {
    right:2%;
    top:30px;
    position: absolute;
    font-style: italic;
    font-size: 22px;
}


.order_window {
    position: relative;
    height:300px;
    width:300px;
    margin: 10px;
    border: 2pt black solid;
    overflow: scroll;
}

.order_window h5{
    position: absolute;
    margin-top: 0;
    top: 5px;
    left: 45%;
    font-size: 16px;
}

.new_order_button {
    position: absolute;
    height:75px;
    width: 75px;
    left: calc(50% - 37px);
    top: calc(50% - 37px);
    font-size:60px;
}

#submit_order {
    position:absolute;
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0px;
    width: 150px;
    left: calc(50% - 60px);
}

.confirm_window {
    background-color: Linen;
    position:fixed;
    height:175px;
    width:80%;
    left:10%;
    top:25%;
    box-shadow: 10px 10px 3px #888888;
}

.confirm_button {
    height:50px;
    width: 35%;
    font-size:22px;
}

#order_c_no {
    position: absolute;
    left: 10%;
    top: 110px;
}

#order_c_yes {
    position: absolute;
    right: 10%;
    top: 110px;
}

#warning_ret {
    position: absolute;
    right: 35%;
    top: 110px;
}

#order_warning p {
    position: absolute;
    left: 23%;
    right: 23%;
    margin-top:0px;
    top:30px;
    font-size:28px;
}

#not_imp_ret {
    position: absolute;
    right: 35%;
    top: 110px;
}

#not_implemented p {
    position: absolute;
    left:30%;
    margin-top:0px;
    top:30px;
    font-size:28px;
}

#order_confirm p {
    position: absolute;
    left:20%;
    right: 20%;
    margin-top:0px;
    top:30px;
    font-size:28px;
}

#submitted_p {
    text-align: center;
    position:absolute;
    left:38%;
    margin-top:0px;
    top:35%;
    font-size:30px;
    margin-left: auto;
    margin-right: auto;
}

#wait_order_p{
    text-align: center;
    position:absolute;
    left:40%;
    margin-top:0px;
    top:40%;
    font-size:30px;
    margin-left: auto;
    margin-right: auto;

}

#fried_calamari{
    top:50px;
}

#crisper{
    top:60px;
}

#bacon_shrimp{
    top:70px;
}

#invis_drink{
    top:50px;
}

#wine{
    top:60px;
}

#steak{
    top:50px;
}

#fish_chips{
    top:60px;
}

#lemon_pie{
    top:50px;
}

#shortcake{
    top:60px;
}

/* Order screen items */

.order_list.h5{
    text-align: center;
}

.order_list{
    position: relative;
    top: 20px;
    overflow-x: hidden;
}

.order_item{
    margin-top: 15px;
    padding-left: 15px;
    font: 12px;
    
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.item_price{
    float: right;
}

.delete_order_item{
    height: 16px;
    width: 30px;
    float: right;
    margin-right: 15px;
}

.order_item span:first-child{
    padding-right: 0.33em;
    background-color: white;
}

.order_item span + span {
    float: right;
    padding-left: 0.33em;
    background-color: white;
}

.order_list {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}

.bill{
    position: relative;
    margin: 10px;
    height: 300px;
    width: 300px;
    border: 2px black solid;
}

h5{
    text-align: center;
}


/* Bills screen items */

#bill_wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.pay_bill{
    position: absolute;
    height: 40px;
    width: 160px;
    left: 70px;
    bottom: 10px;
    font-size: 20px;
}

#pay_bills{
    position:relative;
    left: calc(50% - 60px);
    bottom: 40px;
    font-size: 20px;
}

.bill_item{
    padding-left: 15px;
}

.bill_item_price{
    float: right;
    margin-right: 30px;
}


/*Review screen items*/

#rating_screen{
    position: relative;
    overflow: scroll;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}

#generic_item {
    top:50px;
}

.rating_item {
    position: relative;
    left:4%;
    border:1px solid #000;
    height:150px;
    width:92%;
}

.rating_image {
    position: absolute;
    top: 12.5px;
    left: 3%;
    height:125px;
    width:175px;
    border:1px solid #000;
}

.rating_desc{
    position: absolute;	
    top:30px;
    left:230px;
    text-align: left;
}

#rating_screen_e{
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#back_rating{
    position: absolute;
    top: 3%;
    left: 3%;
    height: 10%;
    width: 30%;
    font-size: 25px;
}

#star_1{
    left:25%;
}

#star_2{
    left:35%;
}

#star_3{
    left:45%;
}

#star_4{
    left:55%;
}

#star_5{
    left:65%;
}

.rating_star{
    position:absolute;
    top:65%;
    width:10%;
    height:width;
}

#rating_question {
    position:absolute;
    top:55%;
    left:26%;
    font-size:27px;
}

#comment_question {
    position:absolute;
    top:90%;
    left:5%;
    font-size:24px;
}

#comment_field{
    position:absolute;
    left:5%;
    top:100%;
    width:90%;
    height:150px;
}

#send_rating{
    position:absolute;
    height:10%;
    width:40%;
    font-size:22px;
    top:130%;
    left:25%;
    margin:5%;
}

/* Modal */

.modal_ok{
    position: absolute;
    height: 40px;
    width: 100px;
    right: 20px;
    bottom: 10px;
    font-size: 22px;
}

.modal_cancel{
    position: absolute;
    height: 40px;
    width: 100px;
    right: 140px;
    bottom: 10px;
    font-size: 22px;
}

.modal_text{
    position: absolute;
    margin: 20%;
}

hr{
    position: absolute;
    bottom: -15px;
    left: 10%;
    width: 80%;
}

.whitespace_pad{
    display:block;
    width: 100%;
    height: 40px;
    bottom: 0px;
    background-color: white;
}